.main-container {
    margin: 0 auto;
    width: 500px;
}

#mainImage {
    border: 5px solid #FF0000;
    width: 380px;
    height: 250px;
}

.input-label {
    padding: 5px 0 5px 0;
    display: block;
}

.change-button {
    display: block;
    margin: 10px 0 0 0;
}

html {
    background-color: #A6A9AD;
}